@font-face {
  font-family: "Raleway";
  src: url(/assets/fonts/raleway/Raleway-Medium.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(/assets/fonts/raleway/Raleway-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(/assets/fonts/raleway/Raleway-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(/assets/fonts/raleway/Raleway-Italic.ttf);
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/montserrat/Montserrat-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/montserrat/Montserrat-Italic.ttf);
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/montserrat/Montserrat-Medium.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/montserrat/Montserrat-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

:root {
  --montserrat-font-family: "Montserrat", sans-serif;
  --raleway-font-family: "Raleway", sans-serif;

  // h1 - title

  --h1-title-font-family: var(--raleway-font-family);
  --h1-title-font-size: 102px;
  --h1-title-font-weight: 400;
  --h1-title-line-height: 100%;
  --h1-title-text-transform: uppercase;
  --h1-title-text-decoration: none;
  --h1-title-font-size-en-fr: 120px; // размер для английского и французского

  @media (min-width: 1920px) {
    --h1-title-font-size: 102px;
    --h1-title-font-size-en-fr: 120px;
  }

  @include lg {
    --h1-title-font-size: clamp(
      78px,
      calc(78px + ((102 - 78) * ((100vw - 1440px) / (1920 - 1440)))),
      102px
    );
    --h1-title-font-size-en-fr: clamp(
      90px,
      calc(90px + ((120 - 90) * ((100vw - 1440px) / (1920 - 1440)))),
      120px
    );
  }

  @include md {
    --h1-title-font-size: clamp(
      41px,
      calc(41px + ((78 - 41) * ((100vw - 768px) / (1440 - 768)))),
      78px
    );
    --h1-title-font-size-en-fr: clamp(
      48px,
      calc(48px + ((90 - 48) * ((100vw - 768px) / (1440 - 768)))),
      90px
    );
  }

  @include sm {
    --h1-title-font-size: 41px;
    --h1-title-font-size-en-fr: clamp(
      38px,
      calc(38px + ((48 - 38) * ((100vw - 428px) / (768 - 428)))),
      48px
    );
  }

  @include xs {
    --h1-title-font-size: clamp(
      31px,
      calc(31px + ((41 - 31) * ((100vw - 320px) / (428 - 320)))),
      41px
    );
    --h1-title-font-size-en-fr: clamp(
      30px,
      calc(30px + ((38 - 30) * ((100vw - 320px) / (428 - 320)))),
      38px
    );
  }

  // h2 - title

  --h2-title-font-family: var(--raleway-font-family);
  --h2-title-font-size: 64px;
  --h2-title-font-weight: 400;
  --h2-title-line-height: 150%;
  --h2-title-text-transform: uppercase;
  --h2-title-text-decoration: none;
  --h2-title-text-align: left;

  @media (min-width: 1920px) {
    --h2-title-font-size: 64px;
  }

  @include lg {
    --h2-title-font-size: clamp(
      48px,
      calc(48px + ((64 - 48) * ((100vw - 1440px) / (1920 - 1440)))),
      64px
    );
  }

  @include md {
    --h2-title-font-size: clamp(
      34px,
      calc(34px + ((48 - 34) * ((100vw - 768px) / (1440 - 768)))),
      48px
    );
  }

  @include sm {
    --h2-title-font-size: 34px;
  }

  @include xs {
    --h2-title-font-size: clamp(
      25px,
      calc(25px + ((34 - 25) * ((100vw - 320px) / (428 - 320)))),
      34px
    );
  }

  // h3 - title

  --h3-title-font-family: var(--raleway-font-family);
  --h3-title-font-size: 30px;
  --h3-title-font-weight: 400;
  --h3-title-line-height: 130%;
  --h3-title-text-transform: uppercase;
  --h3-title-text-decoration: none;

  @media (min-width: 1920px) {
    --h3-title-font-size: 30px;
  }

  @include lg {
    --h3-title-font-size: clamp(
      22px,
      calc(22px + ((30 - 22) * ((100vw - 1440px) / (1920 - 1440)))),
      30px
    );
  }

  @include md {
    --h3-title-font-size: clamp(
      19px,
      calc(19px + ((22 - 19) * ((100vw - 768px) / (1440 - 768)))),
      22px
    );
  }

  @include sm {
    --h3-title-font-size: 19px;
  }

  @include xs {
    --h3-title-font-size: clamp(
      16px,
      calc(16px + ((19 - 16) * ((100vw - 320px) / (428 - 320)))),
      19px
    );
  }

  // h3 - title - main

  --h3-title-main-font-family: var(--raleway-font-family);
  --h3-title-main-font-size: 30px;
  --h3-title-main-font-weight: 400;
  --h3-title-main-line-height: 130%;
  --h3-title-main-text-transform: uppercase;
  --h3-title-main-text-decoration: none;

  @media (min-width: 1920px) {
    --h3-title-main-font-size: 30px;
  }

  @include lg {
    --h3-title-main-font-size: clamp(
      22px,
      calc(22px + ((30 - 22) * ((100vw - 1440px) / (1920 - 1440)))),
      30px
    );
  }

  @include md {
    --h3-title-main-font-size: clamp(
      14px,
      calc(14px + ((22 - 14) * ((100vw - 768px) / (1440 - 768)))),
      22px
    );
  }

  @include sm {
    --h3-title-main-font-size: clamp(
      16px,
      calc(16px + ((19 - 16) * ((100vw - 428px) / (768 - 428)))),
      19px
    );
  }

  @include xs {
    --h3-title-main-font-size: clamp(
      14px,
      calc(14px + ((16 - 14) * ((100vw - 320px) / (428 - 320)))),
      16px
    );
  }

  // h4 - title

  --h4-title-font-family: var(--raleway-font-family);
  --h4-title-font-size: 25px;
  --h4-title-font-weight: 400;
  --h4-title-line-height: 130%;
  --h4-title-text-transform: uppercase;
  --h4-title-text-decoration: none;

  @media (min-width: 1920px) {
    --h4-title-font-size: 25px;
  }

  @include lg {
    --h4-title-font-size: clamp(
      19px,
      calc(19px + ((25 - 19) * ((100vw - 1440px) / (1920 - 1440)))),
      25px
    );
  }

  @include md {
    --h4-title-font-size: clamp(
      17px,
      calc(17px + ((19 - 17) * ((100vw - 768px) / (1440 - 768)))),
      19px
    );
  }

  @include sm {
    --h4-title-font-size: 17px;
  }

  @include xs {
    --h4-title-font-size: clamp(
      14px,
      calc(14px + ((17 - 14) * ((100vw - 320px) / (428 - 320)))),
      17px
    );
  }

  // h5 - title

  --h5-title-font-family: var(--raleway-font-family);
  --h5-title-font-size: 20px;
  --h5-title-font-weight: 400;
  --h5-title-line-height: 130%;
  --h5-title-text-transform: uppercase;
  --h5-title-text-decoration: none;

  @media (min-width: 1920px) {
    --h5-title-font-size: 20px;
  }

  @include lg {
    --h5-title-font-size: clamp(
      16px,
      calc(16px + ((20 - 16) * ((100vw - 1440px) / (1920 - 1440)))),
      20px
    );
  }

  @include md {
    --h5-title-font-size: clamp(
      15px,
      calc(15px + ((16 - 15) * ((100vw - 768px) / (1440 - 768)))),
      16px
    );
  }

  @include sm {
    --h5-title-font-size: 15px;
  }

  @include xs {
    --h5-title-font-size: clamp(
      12px,
      calc(12px + ((15 - 12) * ((100vw - 320px) / (428 - 320)))),
      15px
    );
  }

  // paragraph - large  цена в тарифах

  --paragraph-large-font-family: var(--raleway-font-family);
  --paragraph-large-font-size: 48px;
  --paragraph-large-font-weight: 400;
  --paragraph-large-line-height: 1.5;
  --paragraph-large-text-transform: uppercase;

  @media (min-width: 1920px) {
    --paragraph-large-font-size: 48px;
  }

  @include lg {
    --paragraph-large-font-size: clamp(
      36px,
      calc(36px + ((48 - 36) * ((100vw - 1440px) / (1920 - 1440)))),
      48px
    );
  }

  @include md {
    --paragraph-large-font-size: clamp(
      24px,
      calc(24px + ((36 - 24) * ((100vw - 768px) / (1440 - 768)))),
      36px
    );
  }

  @include sm {
    --paragraph-large-font-size: 24px;
  }

  @include xs {
    --paragraph-large-font-size: clamp(
      20px,
      calc(20px + ((24 - 20) * ((100vw - 320px) / (428 - 320)))),
      24px
    );
  }

  // paragraph - medium  текст в блоке слова

  --paragraph-medium-font-family: var(--raleway-font-family);
  --paragraph-medium-font-size: 35px;
  --paragraph-medium-font-weight: 400;
  --paragraph-medium-line-height: 150%;
  --paragraph-medium-letter-spacing: 0.05em;
  --paragraph-medium-text-transform: none;
  --paragraph-medium-text-decoration: none;

  @media (min-width: 1920px) {
    --paragraph-medium-font-size: 35px;
  }

  @include lg {
    --paragraph-medium-font-size: clamp(
      25px,
      calc(30px + ((35 - 25) * ((100vw - 1440px) / (1920 - 1440)))),
      35px
    );
  }

  @include md {
    --paragraph-medium-font-size: clamp(
      18px,
      calc(18px + ((25 - 18) * ((100vw - 768px) / (1440 - 768)))),
      25px
    );
  }

  @include sm {
    --paragraph-medium-font-size: 18px;
  }

  @include xs {
    --paragraph-medium-font-size: clamp(
      15px,
      calc(15px + ((18 - 15) * ((100vw - 320px) / (428 - 320)))),
      18px
    );
  }

  // paragraph - standard основной текст

  --paragraph-standard-font-family: var(--montserrat-font-family);
  --paragraph-standard-font-size: 20px;
  --paragraph-standard-font-weight: 400;
  --paragraph-standard-line-height: 140%;
  --paragraph-standard-text-transform: none;
  --paragraph-standard-text-decoration: none;

  @media (min-width: 1920px) {
    --paragraph-standard-font-size: 20px;
  }

  @include lg {
    --paragraph-standard-font-size: clamp(
      16px,
      calc(16px + ((20 - 16) * ((100vw - 1440px) / (1920 - 1440)))),
      20px
    );
  }

  @include md {
    --paragraph-standard-font-size: clamp(
      15px,
      calc(15px + ((16 - 15) * ((100vw - 768px) / (1440 - 768)))),
      16px
    );
  }

  @include sm {
    --paragraph-standard-font-size: 15px;
  }

  @include xs {
    --paragraph-standard-font-size: clamp(
      14px,
      calc(14px + ((15 - 14) * ((100vw - 320px) / (428 - 320)))),
      15px
    );
  }

  // paragraph - small

  --paragraph-small-font-family: var(--montserrat-font-family);
  --paragraph-small-font-size: 15px;
  --paragraph-small-font-weight: 500;
  --paragraph-small-line-height: 100%;
  --paragraph-small-text-transform: none;
  --paragraph-small-text-decoration: none;

  @media (min-width: 1920px) {
    --paragraph-small-font-size: 15px;
  }

  @include lg {
    --paragraph-small-font-size: clamp(
      12px,
      calc(12px + ((15 - 12) * ((100vw - 1440px) / (1920 - 1440)))),
      15px
    );
  }

  @include md {
    --paragraph-small-font-size: clamp(
      12px,
      calc(12px + ((15 - 12) * ((100vw - 768px) / (1440 - 768)))),
      15px
    );
  }

  @include sm {
    --paragraph-small-font-size: 12px;
  }

  @include xs {
    --paragraph-small-font-size: clamp(
      10px,
      calc(10px + ((12 - 10) * ((100vw - 320px) / (428 - 320)))),
      12px
    );
  }

  // paragraph-xsmall

  --paragraph-xsmall-font-family: var(--montserrat-font-family);
  --paragraph-xsmall-font-size: 18px;
  --paragraph-xsmall-font-weight: 500;
  --paragraph-xsmall-line-height: 100%;
  --paragraph-xsmall-text-transform: none;
  --paragraph-xsmall-text-decoration: none;

  @media (min-width: 1920px) {
    --paragraph-xsmall-font-size: 18px;
  }

  @include md {
    --paragraph-xsmall-font-size: clamp(
      13px,
      calc(13px + ((18 - 13) * ((100vw - 768px) / (1440 - 768)))),
      18px
    );
  }

  @include sm {
    --paragraph-xsmall-font-size: 13px;
  }

  @include xs {
    --paragraph-xsmall-font-size: clamp(
      12px,
      calc(12px + ((13 - 12) * ((100vw - 320px) / (428 - 320)))),
      13px
    );
  }

  // button - text

  --button-text-font-family: var(--montserrat-font-family);
  --button-text-font-size: 30px;
  --button-text-font-weight: 400;
  --button-text-font-style: normal;
  --button-text-text-decoration: none;

  @media (min-width: 1920px) {
    --button-text-font-size: 30px;
  }

  @include lg {
    --button-text-font-size: clamp(
      23px,
      calc(23px + ((30 - 23) * ((100vw - 1440px) / (1920 - 1440)))),
      30px
    );
  }

  @include md {
    --button-text-font-size: clamp(
      17px,
      calc(17px + ((23 - 17) * ((100vw - 768px) / (1440 - 768)))),
      23px
    );
  }

  @include sm {
    --button-text-font-size: 17px;
  }

  @include xs {
    --button-text-font-size: clamp(
      15px,
      calc(15px + ((17 - 15) * ((100vw - 320px) / (428 - 320)))),
      17px
    );
  }

  // error - text

  --error-text-font-size: 16px;
  --error-text-font-weight: 500;
  --error-text-font-style: normal;
  --error-text-line-height: 100%;
  --error-text-text-transform: none;
  --error-text-text-decoration: none;

  @media (min-width: 1920px) {
    --error-text-font-size: 16px;
  }

  @include lg {
    --error-text-font-size: clamp(
      15px,
      calc(15px + ((16 - 15) * ((100vw - 1440px) / (1920 - 1440)))),
      16px
    );
  }

  @include md {
    --error-text-font-size: clamp(
      13px,
      calc(13px + ((15 - 13) * ((100vw - 768px) / (1440 - 768)))),
      15px
    );
  }

  @include sm {
    --error-text-font-size: 13px;
  }

  @include xs {
    --error-text-font-size: clamp(
      12px,
      calc(12px + ((13 - 12) * ((100vw - 320px) / (428 - 320)))),
      13px
    );
  }

  // span - text

  --span-text-font-size-ru: 35px;
  --span-text-font-size-en: 40px;
  --span-text-font-size-fr: 42px;
  --span-text-font-weight: 400;
  --span-text-font-style: italic;
  --span-text-line-height: 100%;
  --span-text-text-transform: none;
  --span-text-text-decoration: none;

  @media (min-width: 1920px) {
    --span-text-font-size-ru: 35px;
    --span-text-font-size-en: 40px;
    --span-text-font-size-fr: 42px;
  }

  @include lg {
    --span-text-font-size-ru: clamp(
      26px,
      calc(26px + ((35 - 26) * ((100vw - 1440px) / (1920 - 1440)))),
      35px
    );
    --span-text-font-size-en: clamp(
      30px,
      calc(30px + ((40 - 30) * ((100vw - 1440px) / (1920 - 1440)))),
      40px
    );
    --span-text-font-size-fr: clamp(
      31px,
      calc(31px + ((42 - 31) * ((100vw - 1440px) / (1920 - 1440)))),
      42px
    );
  }

  @include md {
    --span-text-font-size-ru: clamp(
      16px,
      calc(16px + ((26 - 16) * ((100vw - 768px) / (1440 - 768)))),
      26px
    );
    --span-text-font-size-en: clamp(
      16px,
      calc(16px + ((30 - 16) * ((100vw - 768px) / (1440 - 768)))),
      30px
    );
    --span-text-font-size-fr: clamp(
      16px,
      calc(16px + ((31 - 16) * ((100vw - 768px) / (1440 - 768)))),
      31px
    );
  }

  @include sm {
    --span-text-font-size-ru: clamp(
      17px,
      calc(17px - ((16 - 17) * ((100vw - 428px) / (768 - 428)))),
      16px
    );
    --span-text-font-size-en: clamp(
      20px,
      calc(20px - ((16 - 20) * ((100vw - 428px) / (768 - 428)))),
      16px
    );
    --span-text-font-size-fr: clamp(
      22px,
      calc(22px - ((16 - 22) * ((100vw - 428px) / (768 - 428)))),
      16px
    );
  }

  @include xs {
    --span-text-font-size-ru: clamp(
      14px,
      calc(14px + ((16 - 14) * ((100vw - 320px) / (428 - 320)))),
      16px
    );
    --span-text-font-size-en: clamp(
      14px,
      calc(14px + ((16 - 14) * ((100vw - 320px) / (428 - 320)))),
      16px
    );
    --span-text-font-size-fr: clamp(
      15px,
      calc(15px + ((16 - 15) * ((100vw - 320px) / (428 - 320)))),
      16px
    );
  }

  // swiper-navigation-size

  --swiper-navigation-size: 66px;
}

.h1-title {
  @extend %h1-title;
}

.h2-title {
  @extend %h2-title;
}

.h3-title {
  @extend %h3-title;
}

.h3-title-main {
  @extend %h3-title-main;
}

.h4-title {
  @extend %h4-title;
}

.h5-title {
  @extend %h5-title;
}

.paragraph-large {
  @extend %paragraph-large;
}

.paragraph-medium {
  @extend %paragraph-medium;
}

.paragraph-standard {
  @extend %paragraph-standard;
}

.paragraph-small {
  @extend %paragraph-small;
}

.paragraph-xsmall {
  @extend %paragraph-xsmall;
}

.button-text {
  @extend %button-text;
}

.error-text {
  @extend %error-text;
}

.span-text {
  @extend %span-text;
}
