@font-face {
  font-family: "Raleway";
  src: url(/assets/fonts/raleway/Raleway-Medium.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(/assets/fonts/raleway/Raleway-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(/assets/fonts/raleway/Raleway-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url(/assets/fonts/raleway/Raleway-Italic.ttf);
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/montserrat/Montserrat-Regular.ttf);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/montserrat/Montserrat-Italic.ttf);
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/montserrat/Montserrat-Medium.ttf);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url(/assets/fonts/montserrat/Montserrat-MediumItalic.ttf);
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

:root {
  --montserrat-font-family: "Montserrat", sans-serif;
  --raleway-font-family: "Raleway", sans-serif;

  // h1 - title

  --h1-title-font-family: var(--raleway-font-family);
  --h1-title-font-size: 102px;
  --h1-title-font-weight: 400;
  --h1-title-line-height: 100%;
  --h1-title-text-transform: uppercase;
  --h1-title-text-decoration: none;
  --h1-title-font-size-en-fr: 120px; // размер для английского и французского

  @include lg {
    --h1-title-font-size: 78px;
    --h1-title-font-size-en-fr: 90px;
  }

  @include md {
    --h1-title-font-size: 41px;
    --h1-title-font-size-en-fr: 48px;
  }

  @include sm {
    --h1-title-font-size: 41px;
    --h1-title-font-size-en-fr: 38px;
  }

  @include xs {
    --h1-title-font-size: 31px;
    --h1-title-font-size-en-fr: 30px;
  }

  // h2 - title

  --h2-title-font-family: var(--raleway-font-family);
  --h2-title-font-size: 64px;
  --h2-title-font-weight: 400;
  --h2-title-line-height: 150%;
  --h2-title-text-transform: uppercase;
  --h2-title-text-decoration: none;
  --h2-title-text-align: left;

  @include lg {
    --h2-title-font-size: 48px;
  }

  @include md {
    --h2-title-font-size: 34px;
  }

  @include xs {
    --h2-title-font-size: 25px;
  }

  // h3 - title

  --h3-title-font-family: var(--raleway-font-family);
  --h3-title-font-size: 30px;
  --h3-title-font-weight: 400;
  --h3-title-line-height: 130%;
  --h3-title-text-transform: uppercase;
  --h3-title-text-decoration: none;

  @include lg {
    --h3-title-font-size: 22px;
  }

  @include md {
    --h3-title-font-size: 19px;
  }

  @include xs {
    --h3-title-font-size: 14px;
  }

  // h4 - title

  --h4-title-font-family: var(--raleway-font-family);
  --h4-title-font-size: 25px;
  --h4-title-font-weight: 400;
  --h4-title-line-height: 130%;
  --h4-title-text-transform: uppercase;
  --h4-title-text-decoration: none;

  @include lg {
    --h4-title-font-size: 19px;
  }

  @include md {
    --h4-title-font-size: 17px;
  }

  @include xs {
    --h4-title-font-size: 14px;
  }

  // h5 - title

  --h5-title-font-family: var(--raleway-font-family);
  --h5-title-font-size: 20px;
  --h5-title-font-weight: 400;
  --h5-title-line-height: 130%;
  --h5-title-text-transform: uppercase;
  --h5-title-text-decoration: none;

  @include lg {
    --h5-title-font-size: 16px;
  }

  @include md {
    --h5-title-font-size: 15px;
  }

  @include xs {
    --h5-title-font-size: 12px;
  }

  // paragraph - large  цена в тарифах

  --paragraph-large-font-family: var(--raleway-font-family);
  --paragraph-large-font-size: 48px;
  --paragraph-large-font-weight: 400;
  --paragraph-large-line-height: 1.5;
  --paragraph-large-text-transform: uppercase;

  @include lg {
    --paragraph-large-font-size: 36px;
  }

  @include md {
    --paragraph-large-font-size: 24px;
  }

  @include xs {
    --paragraph-large-font-size: 20px;
  }

  // paragraph - medium  текст в блоке слова

  --paragraph-medium-font-family: var(--raleway-font-family);
  --paragraph-medium-font-size: 40px;
  --paragraph-medium-font-weight: 400;
  --paragraph-medium-line-height: 150%;
  --paragraph-medium-text-transform: none;
  --paragraph-medium-text-decoration: none;

  @include lg {
    --paragraph-medium-font-size: 30px;
  }

  @include md {
    --paragraph-medium-font-size: 20px;
  }

  @include xs {
    --paragraph-medium-font-size: 15px;
  }

  // paragraph - standard основной текст

  --paragraph-standard-font-family: var(--montserrat-font-family);
  --paragraph-standard-font-size: 20px;
  --paragraph-standard-font-weight: 400;
  --paragraph-standard-line-height: 140%;
  --paragraph-standard-text-transform: none;
  --paragraph-standard-text-decoration: none;

  @include lg {
    --paragraph-standard-font-size: 16px;
  }

  @include md {
    --paragraph-standard-font-size: 15px;
  }

  @include xs {
    --paragraph-standard-font-size: 14px;
  }

  // paragraph - small

  --paragraph-small-font-family: var(--montserrat-font-family);
  --paragraph-small-font-size: 15px;
  --paragraph-small-font-weight: 500;
  --paragraph-small-line-height: 100%;
  --paragraph-small-text-transform: none;
  --paragraph-small-text-decoration: none;

  @include lg {
    --paragraph-small-font-size: 15px;
  }

  @include md {
    --paragraph-small-font-size: 12px;
  }

  @include xs {
    --paragraph-small-font-size: 10px;
  }

  // button - text

  --button-text-font-family: var(--montserrat-font-family);
  --button-text-font-size: 32px;
  --button-text-font-weight: 400;
  --button-text-font-style: normal;
  --button-text-text-decoration: none;

  @include lg {
    --button-text-font-size: 24px;
  }

  @include md {
    --button-text-font-size: 18px;
  }

  @include xs {
    --button-text-font-size: 15px;
  }

  // footnote - standard

  // --footnote-standard-font-size: 18px;
  // --footnote-standard-font-weight: 400;
  // --footnote-standard-font-style: italic;
  // --footnote-standard-line-height: 28px;
  // --footnote-standard-text-transform: none;
  // --footnote-standard-text-decoration: none;

  // @include lg {
  //   --footnote-standard-font-size: 16px;
  // }

  // @include md {
  //   --footnote-standard-font-size: 15px;
  // }

  // @include xs {
  //   --footnote-standard-font-size: 14px;
  // }

  // error - text

  --error-text-font-size: 16px;
  --error-text-font-weight: 500;
  --error-text-font-style: normal;
  --error-text-line-height: 100%;
  --error-text-text-transform: none;
  --error-text-text-decoration: none;

  @include lg {
    --error-text-font-size: 15px;
  }

  @include md {
    --error-text-font-size: 13px;
  }

  @include xs {
    --error-text-font-size: 12px;
  }

  // span - text

  --span-text-font-size-ru: 35px;
  --span-text-font-size-en: 40px;
  --span-text-font-size-fr: 42px;
  --span-text-font-weight: 400;
  --span-text-font-style: italic;
  --span-text-line-height: 100%;
  --span-text-text-transform: none;
  --span-text-text-decoration: none;

  @include lg {
    --span-text-font-size-ru: 26px;
    --span-text-font-size-en: 30px;
    --span-text-font-size-fr: 31px;
  }

  @include md {
    --span-text-font-size-ru: 16px;
    --span-text-font-size-en: 16px;
    --span-text-font-size-fr: 16px;
  }

  @include sm {
    --span-text-font-size-ru: 17px;
    --span-text-font-size-en: 20px;
    --span-text-font-size-fr: 22px;
  }

  @include xs {
    --span-text-font-size-ru: 14px;
    --span-text-font-size-en: 14px;
    --span-text-font-size-fr: 15px;
  }

  // swiper-navigation-size

  --swiper-navigation-size: 66px;

  // @include lg {
  //   --swiper-navigation-size: 50px;
  // }

  // @include md {
  //   --swiper-navigation-size: 27px;
  // }

  // @include xs {
  //   --swiper-navigation-size: 20px;
  // }
}

.h1-title {
  @extend %h1-title;
}

.h2-title {
  @extend %h2-title;
}

.h3-title {
  @extend %h3-title;
}

.h4-title {
  @extend %h4-title;
}

.h5-title {
  @extend %h5-title;
}

.paragraph-large {
  @extend %paragraph-large;
}

.paragraph-medium {
  @extend %paragraph-medium;
}

.paragraph-standard {
  @extend %paragraph-standard;
}

.paragraph-small {
  @extend %paragraph-small;
}

.button-text {
  @extend %button-text;
}

// .footnote-standard {
//   @extend %footnote-standard;
// }

.error-text {
  @extend %error-text;
}

.span-text {
  @extend %span-text;
}
