.methods {
  @include section-padding-sm;

  &__cards {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr 15%;
    gap: 0 25px;
    padding: 0 2px;

    @include lg {
      gap: 0 20px;
    }

    @include md {
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, 1fr);
      gap: 34px 15px;
    }

    @include sm {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, auto);
      gap: 20px;
    }
  }

  &__text {
    @include md-up {
      br {
        display: none;
      }
    }
  }
}

.methods-card {
  display: grid;
  grid-template-rows: 25% 1fr;
  gap: 10px;

  @include md {
    grid-template-rows: 25% auto;
  }

  @include sm {
    padding-bottom: 20px;
  }

  &:nth-child(odd) {
    .methods-card__title {
      color: $color-orange;
    }
  }

  &:nth-child(2),
  &:nth-child(6) {
    background: $color-blue-light-gradient;
  }

  &:nth-child(4) {
    grid-row: span 2;

    @include md {
      grid-row: 2 / 3;
    }

    @include sm {
      grid-row: 4 / 5;
    }
  }

  &__img {
    width: 100%;
    object-fit: cover;
    display: block;
    grid-row: span 2;

    @include md {
      object-position: top center;
      aspect-ratio: 1.59;
    }
    @include r(915) {
      aspect-ratio: 0.83;
    }

    @include sm {
      object-position: center top;
      aspect-ratio: 3.16;
    }
  }
}
