.price {
  @include section-padding-md;

  &__cards {
    display: flex;
    justify-content: center;
    gap: 81px;

    @include lg {
      gap: 62px;
    }

    @include md {
      display: grid;
      justify-items: center;
      grid-template-areas:
        "first first"
        "second third";
      gap: 34px;
    }

    @include sm {
      grid-template-areas:
        "first"
        "second"
        "third";
      gap: 30px;
    }

    @include xs {
      gap: 25px;
    }
  }

  &__card {
    display: grid;
    max-width: 411px;
    width: 100%;
    padding: 50px 30px;
    gap: 30px;

    @include lg {
      max-width: 320px;
      padding: 35px 20px;
      gap: 22px;
    }

    @include md {
      max-width: 280px;
      padding: 30px 15px;
      gap: 15px;
    }

    @include xs {
      padding: 25px 15px;
    }
  }
}

.price-card {
  &:nth-child(1) {
    grid-area: first;
    background: $color-orange-dark;
    color: $color-white;
    transition: $transition;

    &:hover {
      background: $color-orange;
    }

    .price-card__cross {
      fill: $color-white;
    }

    .price-card__title {
      color: $color-white;
      margin-bottom: 45px;

      @media (min-width: 1920px) {
        margin-bottom: 45px;
      }
    
      @include lg {
        margin-bottom: clamp(35px, calc(35px + ((45 - 35) * ((100vw - 1440px) / (1920 - 1440)))), 45px);
      }
    
      @include md {
        margin-bottom: clamp(25px, calc(25px + ((35 - 25) * ((100vw - 768px) / (1440 - 768)))), 35px);
      }
    
      @include sm {
        margin-bottom: clamp(10px, calc(10px + ((25 - 10) * ((100vw - 428px) / (768 - 428)))), 25px);
      }
    
      @include xs {
        margin-bottom: clamp(5px, calc(5px + ((10 - 5) * ((100vw - 320px) / (428 - 320)))), 10px);
      }
    }

    .price-card__duration {
      color: $color-white;
    }

    .price-card__list-item {
      color: $color-white;
    }
  }

  &:nth-child(2) {
    grid-area: second;
    background: $color-blue-light;
    color: $color-blue-dark;
    transition: $transition;

    &:hover {
      background: $color-blue-lightest;
    }

    .price-card__title {
      margin-bottom: 45px;

      @media (min-width: 1920px) {
        margin-bottom: 45px;
      }
    
      @include lg {
        margin-bottom: clamp(35px, calc(35px + ((45 - 35) * ((100vw - 1440px) / (1920 - 1440)))), 45px);
      }
    
      @include md {
        margin-bottom: clamp(25px, calc(25px + ((35 - 25) * ((100vw - 768px) / (1440 - 768)))), 35px);
      }
    
      @include sm {
        margin-bottom: clamp(10px, calc(10px + ((25 - 10) * ((100vw - 428px) / (768 - 428)))), 25px);
      }
    
      @include xs {
        margin-bottom: clamp(5px, calc(5px + ((10 - 5) * ((100vw - 320px) / (428 - 320)))), 10px);
      }
    }

  }

  &:nth-child(3) {
    grid-area: third;
    background: $color-blue-light;
    color: $color-blue-dark;
    transition: $transition;

    &:hover {
      background: $color-blue-lightest;
    }
  }

  &__cross-container {
    display: flex;
    gap: 30px;
  }

  &__list {
    list-style-type: disc;
    padding-left: 25px;
  }
}
