* {
  box-sizing: border-box;
}

// *:focus {
//   outline: none; /* Убираем стандартный стиль обводки */   
//   border: 4px solid var(--color-orange-dark);
//   background: $color-focus; /* Применяем тёмно-оранжевую обводку */
// }

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;

  &.lock {
    overflow: hidden;
  }

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: $color-white;
  }

  &::-webkit-scrollbar-thumb {
    background: $color-blue-light;
    border-radius: 1px;
    border: 3px solid $color-white;
  }
}

.main {
  overflow-x: hidden;
}

input[type="checkbox"]:focus {
  outline: 2px solid $color-orange-dark ; // Обводка при фокусе
  // background-color: #f0f8ff;     // Цвет фона при фокусе
}

input[type="checkbox"]:focus + label {
  // outline: 2px solid #4a90e2;    // Обводка при фокусе
  background: rgba(255, 220, 188, 0.5);   // Цвет фона при фокусе
}
