.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 150px;

  @media (min-width: 1920px) {
    padding: 0 150px;
  }

  @include lg {
    padding: 0 clamp(100px, calc(100px + ((150 - 100) * ((100vw - 1440px) / (1920 - 1440)))), 150px);
  }

  @include md {
    padding: 0 clamp(50px, calc(50px + ((100 - 50) * ((100vw - 768px) / (1440 - 768)))), 100px);
  }

  @include sm {
    padding: 0 clamp(30px, calc(30px + ((50 - 30) * ((100vw - 428px) / (768 - 428)))), 50px);
  }

  @include xs {
    padding: 0 clamp(20px, calc(20px + ((30 - 20) * ((100vw - 320px) / (428 - 320)))), 30px);
  }
}
