.container {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
  padding: 0 150px;

  @include lg {
    padding: 0 100px;
  }

  @include md {
    padding: 0 50px;
  }

  @include sm {
    padding: 0 30px;
  }

  @include xs {
    padding: 0 20px;
  }
}
