.cookie {
    position: fixed;
    display: flex;
    z-index: 1000;
    background: $color-white;
    bottom: 0;
    left: 0; 
    right: 0;
    box-shadow: 0px -3px 4px 0px rgba(0, 0, 0, 0.1);

    &__content {
        display: flex;
        gap: 320px; 
        align-items: center;
        padding-top: 1rem;
        padding-bottom: 1rem;

        @media (min-width: 1920px) {
            gap: 320px; 
          }

        @include lg {
            gap: clamp(230px, calc(230px + ((320 - 230) * ((100vw - 1440px) / (1980 - 1440)))), 320px);
        }

        @include md {
            gap: clamp(115px, calc(115px + ((230 - 115) * ((100vw - 768px) / (1440 - 768)))), 230px);
        }

        @include sm {
            flex-direction: column;
            gap: clamp(20px, calc(20px + ((115 - 20) * ((100vw - 428px) / (768 - 428)))), 115px);
        }

        @include xs {
            gap: clamp(15px, calc(15px + ((20 - 15) * ((100vw - 320px) / (428 - 320)))), 20px);
        }
    }

    &__text-block {
        display: flex;
        flex-direction: column;
        gap: 0.6rem; 

        @include lg {
            gap: 6px; 
        }

        @include sm {
            flex-direction: column;
        }
    }

    &__button-block {
        display: flex; 
        gap: 1.5rem; 

        @include md {
            flex-direction: column;
            gap: 10px;
        }    
    }

    &__button {
        width: 300px;
        height: 60px;

        @media (min-width: 1920px) {
            width: 300px;
            height: 60px;
          }

        @include lg {
            width: clamp(230px, calc(230px + ((300 - 230) * ((100vw - 1440px) / (1920 - 1440)))), 300px);
            height: clamp(50px, calc(50px + ((60 - 50) * ((100vw - 1440px) / (1920 - 1440)))), 60px);
        }

        @include md {
            width: clamp(180px, calc(180px + ((230 - 180) * ((100vw - 768px) / (1440 - 768)))), 230px);
            height: clamp(35px, calc(35px + ((50 - 35) * ((100vw - 768px) / (1440 - 768)))), 50px);
        }

        @include sm {
            width: clamp(278px, calc(278px + ((180 - 278) * ((100vw - 428px) / (768 - 428)))), 180px);
            height: 35px;
        }

        @include xs {
            width: clamp(205px, calc(205px + ((278 - 205) * ((100vw - 320px) / (428 - 320)))), 278px);
        }
    }
}