.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  z-index: 11;
  display: flex;
  justify-content: center;
  background: transparent;
  transition: background 0.3s ease-in-out;

  @include header;

  &__container {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
  }

  &__logo {
    max-height: fit-content;
    color: $color-white;

    &:focus {
      color: $color-orange-light;
      outline: none;
    }
  }

  &__nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 35vw;
    height: 100vh;
    background-image: url("/assets/images/menu_background.png");
    background-size: cover;
    background-position: 85% bottom;
    background-repeat: no-repeat;
    z-index: 10;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 1);
    overflow-y: auto;
    overflow-x: hidden; // предотвращение горизонтальной прокрутки
    transform: translateX(100%);
    transition: transform 0.4s linear;
    padding: 100px 50px 100px 100px;

    &.show {
      transform: translateX(0px);

      .header__menu {
        .header__menu-item {
          transform: translateX(0px);
          opacity: 1;

          @for $i from 1 through 12 {
            &:nth-child(#{$i}) {
              transition-delay: #{($i * 0.09)}s;
            }
          }
        }
      }
    }

    @include lg {
      width: 45vw;
      padding: 85px 50px 85px 70px;
    }

    @include md {
      width: 50vw;
      padding: 50px 40px 50px 60px;
    }

    @include sm {
      width: 77vw;
      padding: 60px 30px 60px 50px;
    }

    @include xs {
      width: 100vw;
      padding: 60px 20px 60px 30px;
    }
  }

  &__menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    gap: 30px;

    @include md {
      gap: 15px;
    }

    @include sm {
      gap: 30px;
    }

    @include xs {
      gap: 20px;
    }
  }

  &__menu-item {
    height: fit-content;
    transition: $transition;
    transform: translateX(25px);
  }

  &__menu-link {
    color: $color-gray-middle;
    text-transform: uppercase;
    transition: $transition;

    &:hover {
      color: $color-white;
    }

    &.active {
      color: $color-orange-light;
    }

    &:focus {
      background: $color-focus;
  }
  }

  &__end {
    display: flex;
    align-items: center;
    gap: 50px;

    @include md {
      gap: 25px;
    }

    @include sm {
      gap: 20px;
    }
  }

  &__contacts {
    display: flex;
    align-items: center;
    gap: 30px;

    @include md {
      gap: 15px;
    }
  }

  &__link {
    white-space: nowrap;
    color: $color-white;
    transition: $transition;

    &:hover {
      color: $color-blue;
    }
    &:active {
      color: $color-orange-light;
    }
    &:focus {
      color: $color-orange-light;
      outline: none;
    }
  }

  &__overlay {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100%;
    background-color: $color-blue-dark;
    transition: $transition;
    opacity: 0;
    visibility: hidden;
    z-index: 1;

    &.show {
      opacity: 0.5;
      visibility: visible;
    }
  }

  &.scrolled {
    background: $color-white;
    box-shadow: 0px 3px 4px 0px rgba(0, 0, 0, 0.05);

    .header__logo {
      color: $color-blue-dark;

      &:focus {
        color: $color-orange-light;
        outline: none;
      }
    }

    .header__link {
      color: $color-blue-dark;

      &:focus {
        color: $color-orange-light;
      }
    }

    .header__burger {
      &::before,
      &::after,
      span {
        background: $color-blue-dark;
      }

      &:hover {
        outline: none;
    
        &::before,
        &::after,
        span {
          background: $color-blue;
        }
    } 
    }

    .header__burger:focus {
      &::before,
      &::after,
      span {
        background: $color-orange-light;
      }
    }

    .language__language {
      color: $color-blue-dark;

      &:hover {
          color: $color-blue;
      }

      &:focus {
        color: $color-orange;
      }
    }

    .header__icon {
      &:hover {
        color: $color-blue;
    }
    }
  }
}

.language {
  min-width: 36px;
  position: relative;

  @include lg {
    min-width: 32px;
  }

  &__options {
    position: absolute;
    top: 130%;
    width: 100%;
    transform: translateY(-10px);
    transition: $transition;
    z-index: -1;
    opacity: 0;

    &.active {
      transform: translateY(0);
      opacity: 1;
      z-index: 1;
    }

    &:focus {
      background: $color-focus;
    }
  }

  &__language {
    text-align: center;
    color: $color-white;
    cursor: pointer;

    &:hover {
      color: $color-blue;
    }

    &:focus {
      background: $color-focus;
    }
  }

  &__option {
    margin-top: 1px;
    padding: 1px 3px;
    text-align: center;
    background: rgba(254, 254, 254, 0.8);
    color: $color-blue-dark;
    transition: $transition;
    cursor: pointer;

    &:hover {
      background: $color-blue-dark;
      color: $color-white;
    }

    &:focus {
      background: $color-focus;
    }
  }
}
