.link {
  text-decoration: none;
  color: $color-orange;
  transition: $transition;

  &:hover {
    color: $color-orange-light;
  }

  &:focus {
    background: rgba(255, 220, 188, 0.5);   // Цвет фона при фокусе
  }
}
